* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header, footer {
    background-color: #1f2937;
    margin: 0;
    padding: 1rem;
    font-size: 18px;
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
}

footer {
    justify-content: center;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 0;
    margin-left: 3rem;
}

nav {
    padding:0;
    margin-right: 3rem;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #e5e7eb;
}

.top img {
    width: 20rem;
}

.container img {
    width: 10rem;
}
