* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header, footer {
    background-color: #1f2937;
    margin: 0;
    padding: 1rem;
    font-size: 18px;
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
}

footer {
    justify-content: center;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 0;
    margin-left: 7rem;
}

nav {
    padding:0;
    margin-right: 7rem;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #e5e7eb;
}

.top img {
    width: 100%;
}

.top {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 6rem 8rem;
    gap: 2rem;
}

.top-left, .top-right {
    flex: 1;
}

.top-left h3 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.top-left {
    font-size: 18px;
    color : #e5e7eb;
}

.top-left * {
    margin: 0.5rem 0;
}

button {
    background-color: #3883f6;
    color: #f9faf8;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    border-style: none;
}

.mid {
    text-align: center;
    padding-bottom: 5rem;
}
.mid h3 {
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937
}

.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0 8rem;
}

.container img {
    width: 100%;
    border: #e5e7eb solid 0.5rem;
    border-radius: 20px;
    height: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 10rem;
    color: #1f2937;
    gap: 1rem;
}

#quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 0;
    margin: 0;
}

#quote-credit {
    font-size: 28px;
    font-weight: bold;
    padding: 0 3rem;
    margin: 0;
    align-self: flex-end;
}

.bottom {
    display: flex;
    flex-direction: column;
    padding: 5rem 8rem;
    justify-content: center;
    align-items: center;
}

.bottom-container {
    background-color: #3883f6;
    border-radius: 10px;
    margin: 0;
    padding: 2rem 5rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.bottom-text p {
    font-size: 18px;
    color : #e5e7eb;
    padding: 0;
    margin-top: 2px;
}

.bottom-text h4 {
    font-size: 20px;
    font-weight: bolder;
    color:#f9faf8;
    padding: 0;
    margin: 0;
}

.bottom button {
    border-style: solid;
    border-color: white;
}


